:root, body {
    background-color: var(--app-color-bg);
}

.player {
    color: whitesmoke !important;
    font-size: large;
    text-align: center;
}

.score {
    color: whitesmoke !important;
    font-size: large;
    text-align: center;
}

.match {
    text-align: center;
    color: whitesmoke !important;
    font-size: large;
    text-align: center;
}