:root, body {
    background-color: rgb(30, 255, 1) !important;
}

.player {
    color: whitesmoke !important;
    font-size: large;
    text-align: center;
}

.score {
    color: whitesmoke !important;
    font-size: large;
    text-align: center;
}

.match {
    text-align: center;
    color: whitesmoke !important;
    font-size: large;
    text-align: center;
}