.body {
    background-color: rgb(0, 0, 0);
    font-size: large;
}

.player {
    background-color: rgb(86, 144, 194);
    color: whitesmoke !important;
    font-size: large;
}

.score {
    background-color: rgb(179, 116, 35);
    color: whitesmoke !important;
    font-size: large;
}

.match {
    background-color: rgb(144, 23, 155);
    text-align: center;
    color: whitesmoke !important;
    font-size: large;
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}