.player {   
    background-color: var(--app-color-bg-secondary) !important;
    border: solid 3px;
}

.player-1, .team-red {
    border-width: 3px !important;
    border-color: rgb(167, 84, 84) !important;
    background-color: var(--app-color-bg-secondary);
    /* background-color: rgb(116, 1, 1) !important; */
}

.player-2, .team-blue {
    border-width: 3px !important;
    border-color: rgb(84, 92, 167) !important;
    /* background-color: rgb(24, 23, 119) !important; */
}

.player-3 {
    border-width: 3px !important;
    border-color: rgb(159, 167, 84) !important;
    /* background-color: rgb(116, 114, 1) !important; */
}

.player-4 {
    border-width: 3px !important;
    border-color: rgb(91, 167, 84) !important;
    /* background-color: rgb(11, 116, 1) !important; */
}