.player {   
    color: white;
    border: solid 3px;
}

.player-1, .team-red {
    border-color: red !important;
}

.player-2, .team-blue {
    border-color: blue !important; 
}

.player-3 {
    border-color: yellow !important;
}

.player-4 {
    border-color: green !important;
}