body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(32, 54, 72) !important;
}

.centered {
    margin: 3rem auto;
    /* text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.debug-div {
    position: absolute;
    right: 0;
}

.debug-button {
    background: wheat;
    color: black;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: medium;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}
